.row{
    clear: both;
    width: 100%;
    height: 250px;
    margin: 0 -10px;
    overflow: hidden;
}

.third{
    margin: 20px 10px;
    background-size: cover;
    background-position: center top;
    width: 29.6%;
    position: relative;
    float: left;
    background: white;
}

.third img{
    width: 100%;
}

.third:hover{
    background: rgba(34,28,90, 0.5);
}

.error-message{
    font-weight: bold;
    font-style: italic;
    color: red;
}
