body{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}


h1 {
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    display:inline-block;
    font-family: 'Aladin', cursive;
    font-size: 60px;
    font-weight:bold;
    padding:14px 40px 4px 40px;
    text-transform:uppercase;
}

h2{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

header a {
    color:#ffffff;
}


.header a {
    color:#ffffff;
}


a{
    text-decoration: none;
    color: rgb(83, 146, 205);
}

p{
    padding: 5px 0px 12px;
}

td p{
    position: relative;
    text-align: center;
    z-index: 0;
}



nav a, nav a:hover {
    color:#444444
}

nav ul {
    font-weight:bold;
    list-style:none;
    margin:0px auto;
    padding:0px;
    text-transform:uppercase;
}

nav li {
    border-bottom:3px solid #ffffff;
    display:inline-block;
    font-size:16px;
    margin:0px auto;
    padding:16px 24px;
}

nav p{
    font-size:16px;
    margin:0px auto;
    padding:16px 24px;
}
