table{
    margin-top: 20px;
    width: 100%;
    }

.one-third{
    width: 25%;
    height: 150px;
    background:url('pics/profile.jpg');
    background-attachment: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-bottom: 20px;}

.two-third{
    display: inline-block;
    float: right;
    width: 65%;}

.containerfoot{
    clear: both;
    }

.desc p{
    text-align: center;}

